/**
 * Usage:
 * @import '~assets/breakpoints'
 * @media $breakpoints-spec.sm-and-down
 *   .my-selector
 *     background-color: red // only red for sm and down.
 */

json('./breakpoints.json')

$breakpoints := {
  xs: 0
  sm: unit($breakpoint-sm, px)
  md: unit($breakpoint-md, px)
  lg: unit($breakpoint-lg, px)
  xl: unit($breakpoint-xl, px)
}

$breakpoints-spec := {
  xs-only: "only screen and (max-width: %s)" % ($breakpoints.sm - 1)

  sm-only: "only screen and (min-width: %s) and (max-width: %s)" % ($breakpoints.sm ($breakpoints.md  - 1))
  sm-and-down: "only screen and (max-width: %s)" % ($breakpoints.md - 1)
  sm-and-up: "only screen and (min-width: %s)" % $breakpoints.sm

  md-only: "only screen and (min-width: %s) and (max-width: %s)" % ($breakpoints.md ($breakpoints.lg  - 1))
  md-and-down: "only screen and (max-width: %s)" % ($breakpoints.lg - 1)
  md-and-up: "only screen and (min-width: %s)" % $breakpoints.md

  lg-only: "only screen and (min-width: %s) and (max-width: %s)" % ($breakpoints.lg ($breakpoints.xl - 1))
  lg-and-down: "only screen and (max-width: %s)" % ($breakpoints.xl - 1)
  lg-and-up: "only screen and (min-width: %s)" % $breakpoints.lg

  xl-only: "only screen and (min-width: %s)" % $breakpoints.xl
}